body {
	--font-size: 1.2rem;
    --font-family: 'Roboto Mono', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	
	--space: 1rem;

	--color-blue: #3333CE;
	--color-blue-light: #9898fa;
	--color-green: #8CD517;
	--color-red: #CE3333;
	--color-gray: #AEADB4;
	--color-gray-light: #EBEAF0;

	--color-text: #000000;
	--color-link: var(--color-blue);
	--color-link-hover: var(--color-green);
	--color-card-background: #ffffff;
	--color-body: var(--color-gray-light);

	--input-bg: var(--color-card-background);
	--input-text-color: var(--color-text);
	--input-border-color: var(--color-text);
	--input-border-width: 1px;
	--input-padding-g: var(--space);
	--input-padding-v: var(--space);
	--select-tog-size: 1rem;

	--card-padding: calc(var(--space) * 2);

	--animation-bump: cubic-bezier(0.6, 0.04, 0.98, 0.335);

	--size-logo-title-gorizontal: 4rem;

	--card-label-height: calc( var(--space) * 1.5);
	--card-border-color: var(--color-card-background);
}


body {
	background-color: var(--color-body);
}